:root{
  --primary-color:#198754;
}

.sidebar, .second{
  padding: 10px;
  border: 2px solid #ccc;
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  text-align: center;
}
.main{
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
}
.sidebar ul{
  list-style-type: none;
  padding: 0;
}
.sidebar ul li{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 1.3rem;
  margin-bottom: 20px;
  border-radius: 5px;
}
.sidebar ul li a{
  color: #0c0c0c;
}

.sidebar ul li:hover{
  background-color: #16875231;
}
.sidebar ul li:hover a{
  color: #168752;
}

.main-btn{
  border: none;
  padding: 10px;
  color: #fff;
  background-color: var(--primary-color);
  font-size: 1.1rem;
}